<%- include('../common/header') %>

    <%- include('../common/menu') %>

        <main class="form-signin mb-4">

                       
                <form action="/admin/autenticar" method="POST">

                    <h1 class="mb-3 text-center">Login</h1>

                    <div class="form-floating">
                        
                        <input type="text" id="usuario" name="usuario" class="form-control"
                            placeholder="Usuário" autocomplete="off" required>
                            <label for="usuario" class="form-label">Usuário</label>
                    </div>

                    <div class="form-floating">
                        
                        <input type="password" id="senha" name="senha" class="form-control"
                            placeholder="Senha" autocomplete="off" required>
                        <label for="senha" class="form-label">Senha</label>
                    </div>
                    <button type="submit"  class="btn btn-primary btn-lg w-100">Entrar </button>

                </form>
         

            

        </main>
        <%- include('../common/footer')%>